<div style="margin-top: 20px;margin-left: 20px;margin-right: 20px;">

  <div style="margin-left: 55%;">
        <a  style="font-size: 20px;cursor: pointer; " (click)="logout()" >Logout</a>
    </div>
  <div style="width:60%;margin-top: 10px;">
    <form [formGroup]="formData" (ngSubmit)="addUpdateNote()" method="POST" class="register-form" id="register-form">
      <div #myInput class="form-group">
        <label for="title"><i class="zmdi zmdi-account material-icons-name"></i></label>
        <input class="form-control" formControlName="title" type="text" name="title" id="title" placeholder="Title" />
      </div>

      <div class="form-group">
        <div>
          <div *ngIf="voiceActiveSectionDisabled || voiceText; else voicesection;">

            <img #voiceInput (click)="startVoiceRecognition()" src="assets/mic2.png" height="40" width="45"
              alt="Static Image" />

            <br>

          </div>
          <ng-template #voicesection>
            <ng-container *ngIf="!voiceActiveSectionError; else failure">
              <ng-container *ngIf="voiceText; else start">

              </ng-container>
              <ng-template #start>
                <ng-container *ngIf="voiceActiveSectionListening; else beginning">
                  <span>Listening...</span>
                </ng-container>
                <ng-template #beginning>
                  <span>Start talking...</span>
                </ng-template>
              </ng-template>
            </ng-container>
            <ng-template #failure>

            </ng-template>

          </ng-template>
        </div>
        <label for="content"><i class="zmdi zmdi-email"></i></label>
        <textarea formControlName="content" class="form-control rounded-0" id="content" rows="3"
          placeholder="Enter your content"></textarea>
        <!-- <input class ="form-control" formControlName="content" type="text" name="content" id="content" placeholder="Enter your content"/> -->
      </div>
      <div class="form-group">
        <label for="todo"><i class="zmdi zmdi-email"></i></label>
        <input class="form-control" formControlName="todo" type="text" name="todo" id="todo" placeholder="What to do" />
      </div>
      <div class="form-group">
        <select formControlName="priority" name="priority" id="priority" class="form-select"
          aria-label="Default select example">
          <option value="0">Lower</option>
          <option value="1">Medium</option>
          <option value="2">Higher</option>
        </select>
      </div>
      <div class="form-group d-flex">
        <h5> Notification :</h5> &nbsp; &nbsp;
        <label style="margin-top: 20px;"class="switch">
          <input (change)="onToggleChange()" formControlName="notification"  type="checkbox" checked>
          <span class="slider round"></span>
        </label>
        &nbsp; &nbsp; <h5 style="color:lightgreen" *ngIf="formData.value.notification"> On</h5>
         <h5 style="color:red" *ngIf="!formData.value.notification">Off</h5>
      </div> 
      <div *ngIf="formData.value.notification" class="form-group d-flex">
        <h5 style="width: 130px;">Date time:</h5> &nbsp; &nbsp;
        <input  min="{{currDate}}" minTime="12:15:00" formControlName="notificationDateTime" type="datetime-local" id="notificationDateTime" name="notificationDateTime">
      </div>    
      <div class="d-flex ">
        <div *ngIf="!isEdit" class="form-group form-button">
          <input [disabled]="formData.invalid || isEdit" type="submit" name="signup" id="signup" class="form-submit"
            value="Add note" />
        </div>
        <div *ngIf="isEdit" class="form-group form-button">
          <input [disabled]="formData.invalid || !isEdit " type="submit" name="udpate" id="udpate" class="form-submit"
            value="Update note" />
        </div>
      </div>
    </form>
  </div>

  <div style="margin-top: 20px;" *ngIf="notes.length>0">
    <h3 class="d-flex justify-content-center">
      <span style="color:#FF0000">N</span>
      <span style="color:#66CC66">o</span>
      <span style="color:cornflowerblue">t</span>
      <span style="color:blueviolet">e</span>
      <span style="color:#FF0066">s</span>
    </h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Task No. </th>
          <th>Title</th>
          <th>Content</th>
          <th>Next to do</th>
          <th>Notification</th>
          <th>Date time</th>
          <th>Priority</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr mdbTableCol *ngFor="let note of notes;let ind = index">
          <td>{{ind+1}}</td>
          <th style="word-wrap: break-word;max-width: 100px;">{{note.title}}</th>
          <td style="word-wrap: break-word;max-width: 200px;">{{note.content}}</td>
          <td style="word-wrap: break-word;max-width: 100px;">{{note.todo}}</td>
          <td>
            {{note.notification}}
          </td>
          <td>
            {{note.notificationDateTime | date :'dd-MMM-yy h:mm:ss'}}
          </td>

          <td>{{priorities[note.priority]}}</td>
          <td>

            <button *ngIf="userData.userName != note.assignTo" [disabled]="note.assignTo" (click)="editNote(note.noteId)" class="btn btn-warning"><i
                class="material-icons">&#xE254;</i></button> &nbsp; &nbsp;
            <button *ngIf="userData.userName != note.assignTo" [disabled]="tmpId == note.noteId" (click)="deleteNote(note.noteId)" class="btn btn-danger"><i
                class="material-icons">&#xE872;</i></button> &nbsp; &nbsp;
            <button  *ngIf="!note.assignTo" data-bs-toggle="modal" data-bs-target="#myModal" (click)="assignTask(note.noteId)" class="btn btn-primary"><i
                  class="material-icons">&#xE8f9;</i></button>            
            <button (click)="assignedTask(note)" *ngIf="note.assignTo && !note.isTaskCompleted" data-bs-toggle="modal" data-bs-target="#taskAssignedModal"  class="btn btn-dark"><i
                      class="material-icons">&#xE8b5;</i></button>     &nbsp; &nbsp;
            <button (click)="assignTask(note.noteId)" *ngIf="userData.userName == note.assignTo || note.isTaskCompleted" 
            data-bs-toggle="modal" data-bs-target="#taskCompletedModal"  class="btn btn-success"><i
                    class="material-icons">&#xE2e6;</i></button>                              
                
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>

<div id="notification" class="hidden">
  <p id="message"></p>
  <button id="close-button" (click)="closeNotification()">
    Close
  </button> &nbsp; &nbsp;
  <button id="restart-button" (click)="restartApp()" class="hidden">
    Restart
  </button>
</div>
<notifier-container></notifier-container>
<!--    
<button (click)="startRecording()">
  start
</button>

   
<button (click)="endRecording()">
  stop
</button> -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assign task</h5>
        <button (click)="cancelAssignTask()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">           
          <input [(ngModel)]="tmpUsername" class="form-control"  type="text" name="Username" id="Username" placeholder="Username" />
        </div>
      </div>
      <div class="modal-footer">
        <button  (click)="cancelAssignTask()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button (click)="confirmAssignTask(tmpId)"  type="button" class="btn btn-primary"  data-bs-dismiss="modal">Assign</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="taskAssignedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Assigned task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">                 
         <label *ngIf="!isTaskAssignToMe" style="margin-left: 20px;" for="assignedTask">Task has been assigned to <b>{{tmpUsername}}</b></label>      
         <label *ngIf="isTaskAssignToMe" style="margin-left: 20px;" for="assignedTask">Task has been assigned By <b>{{tmpUsername}}</b></label> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>  
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="taskCompletedModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Task completed</h5>
        <button  (click)="cancelAssignTask()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">        
          <label  style="margin-left: 20px;" for="assignedTask">Have you completed the task ? </label>    
      </div>
      <div class="modal-footer">
        <button  (click)="cancelAssignTask()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button (click)="taskCompleted(tmpId)"  type="button" class="btn btn-primary"  data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<!-- 
<div class="container">  

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
     
        <div class="modal-header">
          <h4 class="modal-title">Assign task</h4>
          <button (click)="cancelAssignTask()" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">

          <div class="form-group">           
            <input [(ngModel)]="tmpUsername" class="form-control"  type="text" name="Username" id="Username" placeholder="Username" />
          </div>

        </div>
        
        <div class="modal-footer">
          <button type="button" (click)="cancelAssignTask()"  class="btn btn-outline-primary" data-dismiss="modal">Cancel</button> &nbsp; &nbsp; 

          <button type="button" (click)="confirmAssignTask(tmpId)" class="btn btn-outline-success" data-dismiss="modal">Assign</button>
        </div>    
        
      </div>
    </div>
  </div>
  
</div> -->